@import "../variables.scss";
@import "../index.scss";

// .button-navbar{
//     display: flex;
//     margin-top: 4px;
//     width: 99%;
//     align-items: end;
//     justify-content: end;
//     border: none;
//     background-color: transparent;
//     display: none;
//     position: absolute;
//     z-index: 2;

//     img{
//         width: 6%;
//         justify-content: end;
//         transition: ease 1s;
//     }
// }

// .modal-lateral{
//     min-height: 100vh;
//     width: 100%;
//     display: flex;
//     justify-content: end;
//     // display: none !important;
//     transition: all 1s;

//     .conteudo{
//         width: 40%;
//         justify-content: end;
//         background-color:$color-yellow;

//         img{
//           width: 150px;
//           height: 70px;
//           padding: 10px;
//         }

//         .buttons {
//           width: 100%;
//           display: flex;
//           flex-direction: row;
//           align-items: center;
//           justify-content: center;
//           gap: 15px;
//           transition: ease-in 1s;

//           a {
//             text-decoration: none;
//             font-family: $font-family-poppins;
//           }

//           .theme {
//             height: 60px;
//             width: 60px;
//             border: none;
//             background-color: transparent;
//             display: flex;
//             align-items: center;

//             img {
//               width: 100%;
//               height: 80%;
//               display: flex;
//               align-items: center;
//               justify-content: center;
//             }
//           }

//           button {
//             width: 40%;
//             height: 45px;
//             font-size: 24px;
//           }

//           .login {
//             width: 20%;
//             border: none;
//             color: $color-white !important;
//             border-radius: 50px;
//             background-color: $color-purple;
//           }

//           .cadastro {
//             border: 1px solid $color-purple;
//             background-color: $color-white;
//             color: $color-purple;
//             border-radius: 15px;
//           }
//         }
//     }

//     ul{
//       width: 98%;
//       height: 250px;
//       display: flex;
//       flex-direction: column;
//       align-items:end;
//       justify-content: end;
//       list-style: none;
//       gap: 10px;

//     }

//     li{
//       font-size: 1.5rem;

//       a{
//         text-decoration: none;
//         font-family:$font-family-poppins;
//       }
//     }

// }

// .nav-bar {
//   padding-left: 10px;
//   width: 95%;
//   // margin:20px auto;
//   height: 90px;
//   border: 1px solid #d9d9d9;
//   border-radius: 50px;
//   background-color: $color-white;
//   display: flex;
//   align-items: center;
//   flex-direction: row;
//   font-family: $font-family-poppins;
//   position: absolute;
//   top: 20px;
//   left: 35px;
//   position: fixed;
//   z-index: 2;

//   .logo {
//     width: 25%;
//     object-fit: cover;
//     padding-left: 20px;
//     display: flex;
//     align-items: center;

//     img {
//       width: 50%;
//       height: 100%;
//       object-fit: cover;
//       padding-left: 10px;
//     }
//   }

//   ul {
//     width: 60%;
//     list-style: none;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 110px;
//     font-size: 24px;

//     a {
//       text-decoration: none;
//       color: $color-black;
//     }
//   }

//   .buttons {
//     width: 30%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 15px;
//     transition: ease-in 1s;

//     a {
//       text-decoration: none;
//       font-family: $font-family-poppins;
//       color: $color-black;
//     }

//     .theme {
//       height: 40px;
//       width: 40px;
//       border: none;
//       background-color: $color-white;
//       display: flex;
//       align-items: center;

//       img {
//         width: 100%;
//         height: 80%;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//       }
//     }

//     button {
//       width: 40%;
//       height: 45px;
//       font-size: 20px;
//     }

//     .login {
//       width: 20%;
//       border: none;
//       border-radius: 50px;
//       background-color: $color-yellow;
//     }

//     .cadastro {
//       border: 1px solid $color-purple;
//       background-color: $color-white;
//       border-radius: 15px;
//     }
//   }
// }

@import "../variables.scss";

// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;

// Mixins for responsive design
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$breakpoint-laptop}) {
    @content;
  }
}

.navbar-container {
  max-width: 100%;
  width: 100%;
  // Hamburger button
  .button-navbar {
    // display: none;
    // margin-top: 4px;
    width: 99%;
    position: absolute;
    top: 10px;
    align-items: center;
    justify-content: end;
    border: none;
    background-color: transparent;
    z-index: 5;
    // padding: 15px;

    @include laptop {
      display: flex;
    }

    @include mobile {
      width: 100%;
      max-width: 100%;
    }

    img {
      width: 40px;
      height: 40px;
      transition: ease 0.3s;

      @include mobile {
        width: 32px;
        height: 32px;
      }
    }

    @include tablet {
    }
  }

  // Sidebar modal
  .modal-lateral {
    min-height: 60vh;
    width: 100%;
    top: 0px;
    // overflow-y: auto;
    display: flex;
    // overflow-x: hidden;
    // justify-content: end;
    position: fixed;
    z-index: 2;
    transition: all 0.3s ease;
    // background-color: rgba(0, 0, 0, 0.5);

    @include laptop {
      &.active {
        // display: flex;

        width: 100%;
        display: flex;
        justify-content: end;
      }
      @include mobile {
        width: 50%;
        display: flex;
        justify-content: end;
      }
    }
    // @include tablet {
    //   width: 50%;
    //   display: flex;
    //   // justify-content: end;
    // }

    .conteudo {
      width: 50%;
      background-color: $color-yellow;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: end;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      border-radius: 0px 0px 0px 20px;

      &.active {
        transform: translateX(20%);
        // width: 200px !important;
      }

      @include mobile {
        width: 100%;
      }

      img {
        width: 120px;
        height: auto;
        // padding-left: px;
        margin-top: 20px;

        @include mobile {
          // width: 100px;
        }
      }

      .buttons {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin-top: 20px;

        a {
          text-decoration: none;
          font-family: $font-family-poppins;
          width: 100%;
          text-align: center;
        }

        button {
          width: 100%;
          height: 45px;
          font-size: 20px;
          margin: 5px 0;

          @include mobile {
            font-size: 16px;
          }
        }

        .login {
          border: none;
          border-radius: 15px;
          background-color: $color-yellow;
          border: 1px solid $color-purple;
          color: $color-purple;
        }

        .cadastro {
          border: 1px solid $color-white;
          background-color: $color-purple;
          color: $color-white;
          border: none;
          border-radius: 15px;
        }
      }

      ul {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        gap: 20px;
        padding: 0;

        li {
          font-size: 1.2rem;
          width: 100%;

          a {
            text-decoration: none;
            font-family: $font-family-poppins;
            color: $color-purple;
            display: block;
            padding: 10px 0;
          }
        }
      }
    }
  }

  // Main navigation bar
  .nav-bar {
    padding: 0 20px;
    width: 95%;
    height: 90px;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    background-color: $color-white;
    display: flex;
    align-items: center;
    font-family: $font-family-poppins;
    position: relative;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    // z-index: 5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    @include laptop {
      padding: 0 15px;
      height: 70px;
    }

    @include mobile {
      width: 90%;
      height: 60px;
      top: 10px;
    }

    .logo {
      width: 25%;
      display: flex;
      align-items: center;

      @include laptop {
        width: 100%;
        justify-content: center;
      }

      img {
        width: auto;
        height: 40px;
        object-fit: contain;

        @include mobile {
          height: 30px;
        }
      }
    }

    ul {
      width: 45%;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      font-size: 20px;
      margin: 0;
      padding: 0;

      @include laptop {
        display: none;
      }

      a {
        text-decoration: none;
        color: $color-black;
        transition: color 0.3s ease;

        &:hover {
          color: $color-purple;
        }
      }
    }

    .buttons {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 15px;

      @include laptop {
        display: none;
      }

      a {
        text-decoration: none;
        font-family: $font-family-poppins;
        color: $color-black;
      }

      .theme {
        height: 40px;
        width: 40px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      button {
        height: 45px;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-2px);
        }
      }

      .login {
        width: 100px;
        border: none;
        border-radius: 50px;
        background-color: $color-yellow;

        &:hover {
          background-color: $color-yellow;
        }
      }

      .cadastro {
        width: 120px;
        border: 1px solid $color-purple;
        background-color: $color-white;
        border-radius: 15px;
        color: $color-purple;

        &:hover {
          background-color: $color-purple;
          color: $color-white;
        }
      }
    }
  }

  // Utility classes for JavaScript functionality
  .hide-scroll {
    overflow: hidden;
  }

  .nav-shadow {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}
