@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.home-page-container .hero-section {
  position: relative;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.home-page-container .hero-section .apresentation {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.home-page-container .hero-section .apresentation h1 {
  font-size: 72px;
  font-family: "Poppins", sans-serif;
  color: #3D1887;
}
.home-page-container .hero-section .apresentation .btn-conhecer {
  font-size: 24px;
  width: 18%;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  color: #393939;
  background-color: #FFEA73;
  font-weight: 600;
  margin-top: 45px;
}
.home-page-container .hero-section .phone-img {
  width: 38%;
  display: flex;
  height: 80vh;
  position: relative;
  top: 50px;
  object-fit: cover;
}
.home-page-container .hero-section img {
  position: relative;
  width: 99%;
  height: 100%;
  object-fit: cover;
}
.home-page-container .hero-section .linha-amarela {
  width: 100%;
  position: absolute;
  right: 200px;
  min-width: 100%;
  z-index: -1;
  display: flex;
  align-items: start;
  justify-content: start;
}
.home-page-container .hero-section .linha-amarela svg {
  width: 500%;
  object-fit: cover;
}
.home-page-container .telas {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page-container .telas h1 {
  font-size: 84px;
  color: #3D1887;
  font-family: "Poppins", sans-serif;
}
.home-page-container .telas p {
  width: 73%;
  text-align: center;
  font-size: 34px;
  font-family: "Poppins", sans-serif;
}
.home-page-container .telas .slide {
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
  object-fit: cover;
}
.home-page-container .telas .slide img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.home-page-container .beneficios-etc {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.home-page-container .beneficios-etc h1 {
  font-size: 84px;
  font-family: "Poppins", sans-serif;
  color: #3D1887;
}
.home-page-container .beneficios-etc p {
  width: 69%;
  text-align: center;
  font-size: 34px;
  color: #393939;
  font-family: "Poppins", sans-serif;
}
.home-page-container .beneficios-etc .seguranca {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.home-page-container .beneficios-etc .seguranca .seguranca-text {
  width: 88%;
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  z-index: 2;
}
.home-page-container .beneficios-etc .seguranca .seguranca-text h1 {
  color: #FAF8FB;
}
.home-page-container .beneficios-etc .seguranca .seguranca-text p {
  position: relative;
  width: 50%;
  text-align: start;
  bottom: 90px;
  color: #FAF8FB;
  font-size: 38px;
  font-family: "Poppins", sans-serif;
}
.home-page-container .beneficios-etc .seguranca img {
  position: absolute;
  width: 90%;
  z-index: 0;
}
.home-page-container .apps {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}
.home-page-container .apps img {
  object-fit: cover;
  width: 100%;
}
.home-page-container .apps h1 {
  width: 100%;
  position: absolute;
  bottom: 1900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page-container .apps p {
  position: absolute;
  bottom: 1800px;
  text-align: center;
}
.home-page-container .apps .icons {
  position: absolute;
  margin: 0 auto;
  width: 48%;
  bottom: 1650px;
}
.home-page-container .atendimento {
  width: 90%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.home-page-container .atendimento img {
  width: 100%;
}
.home-page-container .atendimento h1 {
  position: absolute;
  color: #FAF8FB;
  bottom: 330px;
  left: 1100px;
}
.home-page-container .atendimento p {
  position: absolute;
  font-size: 38px;
  color: #FAF8FB;
  width: 50%;
  display: flex;
  left: 730px;
  text-align: end;
}
.home-page-container .pacotes {
  margin-top: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-x: hidden;
}
.home-page-container .pacotes h1 {
  font-family: "Poppins", sans-serif;
  font-size: 84px;
}
.home-page-container .pacotes p {
  font-family: "Poppins", sans-serif;
  font-size: 58px;
  position: relative;
  bottom: 60px;
}
.home-page-container .pacotes .cards {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: space-around;
}
.home-page-container .pacotes .cards .pacote-basico {
  width: 40%;
  height: 800px;
  background-color: #fff;
  box-shadow: 6px 6px 12.1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.home-page-container .pacotes .cards .pacote-basico h2 {
  width: 100%;
  font-size: 56px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}
.home-page-container .pacotes .cards .pacote-basico img {
  position: relative;
  width: 100px;
  left: 190px;
}
.home-page-container .pacotes .cards .pacote-basico p {
  font-size: 60px;
  position: relative;
  left: 290px;
  bottom: 150px;
}
.home-page-container .pacotes .cards .pacote-basico ul {
  font-size: 30px;
  position: relative;
  bottom: 150px;
}
.home-page-container .pacotes .cards .pacote-basico button {
  position: relative;
  margin: 0 auto;
  bottom: 38px;
}
.home-page-container .pacotes .cards .pacote-premium {
  width: 40%;
  height: 800px;
  background-color: #fff;
  box-shadow: 6px 6px 12.1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}
.home-page-container .pacotes .cards .pacote-premium h2 {
  width: 100%;
  font-size: 56px;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}
.home-page-container .pacotes .cards .pacote-premium img {
  position: relative;
  width: 100px;
  left: 190px;
}
.home-page-container .pacotes .cards .pacote-premium p {
  font-size: 60px;
  position: relative;
  left: 290px;
  bottom: 150px;
}
.home-page-container .pacotes .cards .pacote-premium ul {
  font-size: 30px;
  position: relative;
  bottom: 150px;
}
.home-page-container .pacotes .cards .pacote-premium .button-buy-primium {
  position: relative;
  bottom: 110px;
  margin: 0 auto;
  height: 96px !important;
}
.home-page-container .pacotes button {
  width: 30%;
  height: 66px;
  font-size: 33px;
  border-radius: 15px;
  background-color: #3D1887;
  color: #FAF8FB;
}
.home-page-container .pacotes .recomendado {
  width: 30%;
  border-radius: 20px 20px 0 0;
  height: 70px;
  position: absolute;
  background-color: #3D1887;
  top: 600.1%;
  left: 57%;
  margin: 0 auto;
}
.home-page-container .pacotes .recomendado p {
  font-size: 40px !important;
  color: #FAF8FB;
  top: -35px;
  left: 150px !important;
}
.home-page-container .pacotes .duvidas {
  width: 20%;
  margin-top: 70px;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=index.css.map */
