@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  max-width: 100%;
  width: 98%;
}

.hero-section {
  position: relative;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;
}
@media (max-width: 992px) {
  .hero-section {
    top: -50px;
  }
}
@media (max-width: 768px) {
  .hero-section {
    margin-top: 120px;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .hero-section {
    margin-top: 120px;
    flex-direction: column;
    width: 100%;
    margin-bottom: 120px;
  }
}
.hero-section .apresentation {
  display: flex;
  flex-direction: column;
  width: 75%;
}
@media (max-width: 768px) {
  .hero-section .apresentation {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}
.hero-section .apresentation a {
  text-decoration: none;
}
.hero-section .apresentation h1 {
  font-size: 72px;
  font-family: "Poppins", sans-serif;
  color: #3D1887;
}
@media (max-width: 992px) {
  .hero-section .apresentation h1 {
    font-size: 56px;
  }
}
@media (max-width: 768px) {
  .hero-section .apresentation h1 {
    font-size: 42px;
  }
}
@media (max-width: 576px) {
  .hero-section .apresentation h1 {
    font-size: 32px;
  }
}
.hero-section .apresentation .btn-conhecer {
  font-size: 24px;
  width: 18%;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  color: #393939;
  background-color: #FFEA73;
  font-weight: 600;
  margin-top: 45px;
}
@media (max-width: 1200px) {
  .hero-section .apresentation .btn-conhecer {
    width: 30%;
  }
}
@media (max-width: 992px) {
  .hero-section .apresentation .btn-conhecer {
    width: 50%;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .hero-section .apresentation .btn-conhecer {
    width: 120%;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .hero-section .apresentation .btn-conhecer {
    width: 130%;
    font-size: 18px;
    height: 50px;
  }
}
.hero-section .phone-img {
  width: 38%;
  display: flex;
  height: 87vh;
  overflow: hidden;
  position: relative;
  top: 50px;
  object-fit: cover;
  overflow: hidden !important;
}
@media (max-width: 1200px) {
  .hero-section .phone-img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .hero-section .phone-img {
    width: 100%;
    height: 100%;
    margin-bottom: 150px;
  }
}
@media (max-width: 576px) {
  .hero-section .phone-img {
    width: 100%;
    height: 100%;
  }
}
.hero-section img {
  position: relative;
  width: 99%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 576px) {
  .hero-section {
    width: 100%;
  }
}
.hero-section .linha-amarela {
  width: 100%;
  position: absolute;
  right: 200px;
  min-width: 100%;
  z-index: -1;
  display: flex;
  align-items: start;
  justify-content: start;
}
@media (max-width: 768px) {
  .hero-section .linha-amarela {
    right: 0;
  }
}
.hero-section .linha-amarela svg {
  width: 500%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .hero-section .linha-amarela svg {
    width: 300%;
  }
}

.telas {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.telas h1 {
  font-size: 84px;
  color: #3D1887;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 992px) {
  .telas h1 {
    margin-top: -400px;
    font-size: 64px;
  }
}
@media (max-width: 768px) {
  .telas h1 {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .telas h1 {
    font-size: 36px;
  }
}
.telas p {
  width: 73%;
  text-align: center;
  font-size: 34px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 992px) {
  .telas p {
    width: 85%;
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .telas p {
    width: 90%;
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .telas p {
    width: 95%;
    font-size: 20px;
  }
}
.telas .slide {
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
  object-fit: cover;
}
.telas .slide img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.beneficios-etc {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
@media (max-width: 992px) {
  .beneficios-etc {
    margin-top: -200px;
  }
}
.beneficios-etc h1 {
  font-size: 84px;
  font-family: "Poppins", sans-serif;
  color: #3D1887;
}
@media (max-width: 992px) {
  .beneficios-etc h1 {
    font-size: 64px;
  }
}
@media (max-width: 768px) {
  .beneficios-etc h1 {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .beneficios-etc h1 {
    margin-top: 25px;
    font-size: 36px;
  }
}
.beneficios-etc p {
  width: 69%;
  text-align: center;
  font-size: 34px;
  color: #393939;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 992px) {
  .beneficios-etc p {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .beneficios-etc p {
    width: 85%;
    font-size: 28px;
  }
}
@media (max-width: 576px) {
  .beneficios-etc p {
    width: 90%;
    font-size: 22px;
  }
}
.beneficios-etc .seguranca {
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .beneficios-etc .seguranca {
    margin-bottom: 1px;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .beneficios-etc .seguranca {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .beneficios-etc .seguranca {
    flex-direction: column;
    align-items: center;
    margin: 120px 0 120px 0;
  }
}
.beneficios-etc .seguranca .seguranca-text {
  width: 87%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
@media (max-width: 992px) {
  .beneficios-etc .seguranca .seguranca-text {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .beneficios-etc .seguranca .seguranca-text {
    height: auto;
    padding: 40px;
    align-items: center;
  }
}
.beneficios-etc .seguranca .seguranca-text h1 {
  color: #FAF8FB;
  font-size: 80px;
  position: relative;
  bottom: 100px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .beneficios-etc .seguranca .seguranca-text h1 {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .beneficios-etc .seguranca .seguranca-text h1 {
    font-size: 2.4rem;
    bottom: 180px;
  }
}
@media (max-width: 768px) {
  .beneficios-etc .seguranca .seguranca-text h1 {
    font-size: 2.6rem;
    bottom: 50px;
    right: 140px;
  }
}
@media (max-width: 576px) {
  .beneficios-etc .seguranca .seguranca-text h1 {
    font-size: 18px;
    position: relative;
    right: 4rem;
  }
}
.beneficios-etc .seguranca .seguranca-text p {
  position: relative;
  width: 50%;
  text-align: start;
  bottom: 90px;
  color: #FAF8FB;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1200px) {
  .beneficios-etc .seguranca .seguranca-text p {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .beneficios-etc .seguranca .seguranca-text p {
    width: 56%;
    bottom: 170px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .beneficios-etc .seguranca .seguranca-text p {
    width: 60%;
    text-align: center;
    right: 150px;
    bottom: 30px;
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  .beneficios-etc .seguranca .seguranca-text p {
    max-width: 70%;
    width: 70%;
    font-size: 0.8rem;
    position: relative;
    right: 4rem;
  }
}
.beneficios-etc .seguranca img {
  position: absolute;
  width: 90%;
  z-index: 0;
}
@media (max-width: 992px) {
  .beneficios-etc .seguranca img {
    width: 100%;
    height: 350px;
  }
}
@media (max-width: 768px) {
  .beneficios-etc .seguranca img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .beneficios-etc .seguranca img {
    width: 99%;
    border-radius: 20px;
    height: 180px;
    margin-top: -80px;
  }
}

.apps {
  width: 95%;
  margin: 150px auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apps .celular-apps {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.apps .celular-apps img {
  width: 60%;
}
.apps h2 {
  display: none;
}
.apps .lista-apps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.apps .lista-apps h2 {
  display: flex;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  color: #3D1887;
}
.apps .lista-apps .apps-lado1 {
  width: 80%;
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-bottom: 1px solid black;
}
.apps .lista-apps .apps-lado1 .linha-lateral {
  position: relative;
  width: 1%;
  height: 310px;
  border-right: 1px solid black;
}
.apps .lista-apps .apps-lado1 img {
  width: 100%;
}
.apps .lista-apps .apps-lado2 {
  width: 95%;
  padding-left: 29.8px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.apps .lista-apps .apps-lado2 img {
  width: 100%;
}
.apps .lista-apps .apps-lado2 .linha-lateral2 {
  position: relative;
  width: 1%;
  height: 310px;
  border-right: 1px solid black;
}
@media (max-width: 576px) {
  .apps {
    max-width: 98% !important;
    width: 95% !important;
    margin: 0 auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    margin-top: -90px !important;
  }
  .apps .celular-apps {
    width: 100% !important;
  }
  .apps .celular-apps img {
    width: 80% !important;
    margin: 0 auto;
  }
  .apps h2 {
    font-size: 2rem !important;
    font-family: "Poppins", sans-serif;
    display: flex !important;
  }
  .apps .lista-apps {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .apps .lista-apps h2 {
    font-size: 1.7rem;
    font-family: "Poppins", sans-serif;
    display: none !important;
  }
  .apps .lista-apps p {
    width: 100% !important;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
  }
  .apps .apps-lado1 {
    width: 80% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-bottom: 1px solid black;
    padding-right: 12.8px !important;
  }
  .apps .apps-lado1 .linha-lateral {
    position: relative;
    width: 1%;
    height: 150px;
    border-right: 1px solid black;
  }
  .apps .apps-lado1 img {
    width: 100% !important;
  }
  .apps .apps-lado1 p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
  }
  .apps .apps-lado1 .bloco1 {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .apps .apps-lado1 .bloco2 {
    width: 100% !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .apps .apps-lado2 {
    width: 80% !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .apps .apps-lado2 .linha-lateral2 {
    position: relative;
    width: 1%;
    height: 150px;
    border-right: 1px solid black;
  }
  .apps .apps-lado2 .linha-baixo {
    width: 10%;
    height: 10px;
    border-bottom: 1px solid black;
  }
  .apps .apps-lado2 img {
    width: 100% !important;
  }
  .apps .apps-lado2 p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
  }
  .apps .apps-lado2 .bloco3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .apps .apps-lado2 .bloco4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .apps {
    height: auto;
    max-width: 95%;
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .apps h2 {
    display: none;
  }
  .apps .celular-apps {
    display: flex;
    width: 40%;
  }
  .apps .celular-apps img {
    width: 100%;
    display: flex;
    object-fit: contain;
    align-items: center;
  }
  .apps .lista-apps {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .apps .lista-apps h2 {
    display: flex;
    font-size: 1.7rem;
    font-family: "Poppins", sans-serif;
  }
  .apps .lista-apps p {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
  }
  .apps .lista-apps .apps-lado1 {
    width: 80%;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
  }
  .apps .lista-apps .apps-lado1 .linha-lateral {
    position: relative;
    width: 1%;
    height: 190px;
    border-right: 1px solid black;
  }
  .apps .lista-apps .apps-lado1 img {
    width: 100%;
  }
  .apps .lista-apps .apps-lado2 {
    width: 90%;
    padding-left: 37.8px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .apps .lista-apps .apps-lado2 img {
    width: 100%;
  }
  .apps .lista-apps .apps-lado2 .linha-lateral2 {
    position: relative;
    width: 1%;
    height: 190px;
    border-right: 1px solid black;
  }
}

.gemini {
  width: 95%;
  max-width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 80px 0 100px 0;
}
.gemini .text-gemini {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gemini .text-gemini h2 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
  color: #3D1887;
  text-align: start;
}
.gemini .text-gemini p {
  width: 90%;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
}
.gemini .gemini-phone {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.gemini .gemini-phone img {
  width: 70%;
}
@media (max-width: 768px) {
  .gemini {
    width: 95%;
    max-width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 80px 0 100px 0;
  }
  .gemini .text-gemini {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gemini .text-gemini h2 {
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    color: #3D1887;
    text-align: start;
  }
  .gemini .text-gemini p {
    width: 90%;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
  }
  .gemini .gemini-phone {
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .gemini .gemini-phone img {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .gemini {
    width: 95%;
    max-width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gemini .text-gemini {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gemini .text-gemini h2 {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    padding-bottom: 8px;
  }
  .gemini .text-gemini p {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
  }
  .gemini .gemini-phone {
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .gemini .gemini-phone img {
    width: 100%;
  }
}

.atendimento {
  width: 90%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
@media (max-width: 992px) {
  .atendimento {
    margin-top: -70px;
  }
}
@media (max-width: 768px) {
  .atendimento {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .atendimento {
    width: 100%;
  }
}
.atendimento img {
  width: 100%;
  border-radius: 20px;
}
@media (max-width: 576px) {
  .atendimento img {
    width: 99% !important;
    height: 200px !important;
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  .atendimento img {
    width: 100%;
    height: 100%;
  }
}
.atendimento h1 {
  position: absolute;
  color: #FAF8FB;
  right: 10%;
  font-size: 85px;
  top: 20%;
}
@media (max-width: 1200px) {
  .atendimento h1 {
    font-size: 70px;
  }
}
@media (max-width: 992px) {
  .atendimento h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .atendimento h1 {
    width: 100%;
    font-size: 40px;
    position: absolute;
    top: 30px;
    left: 150px;
    text-align: center;
    margin: 20px 0;
    z-index: 5;
  }
}
@media (max-width: 576px) {
  .atendimento h1 {
    left: 60px;
    top: 20px;
    font-size: 28px;
  }
}
.atendimento p {
  position: absolute;
  font-size: 30px;
  color: #FAF8FB;
  width: 50%;
  right: 10%;
  text-align: right;
  top: 45%;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 992px) {
  .atendimento p {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .atendimento p {
    width: 50%;
    text-align: end;
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .atendimento p {
    font-size: 14px;
    left: 150px;
  }
}

.conheca-mais {
  width: 100%;
  display: flex;
  height: 590px;
  flex-direction: row;
  margin-top: 50px;
  background-color: #3D1887;
}
.conheca-mais .left-side-conheca {
  width: 60%;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.conheca-mais .left-side-conheca h2 {
  font-family: "Poppins", sans-serif;
  color: #FAF8FB;
  font-size: 3.3rem;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
}
.conheca-mais .left-side-conheca p {
  width: 70%;
  font-size: 2rem;
  color: #FAF8FB;
  font-family: "Roboto", sans-serif;
}
.conheca-mais .left-side-conheca button {
  margin-top: 20px;
  height: 45px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6rem;
  border-color: transparent;
}
.conheca-mais .left-side-conheca button a {
  text-decoration: none;
  color: #3D1887;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.conheca-mais .right-side-conheca {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conheca-mais .right-side-conheca img {
  width: 70%;
}
@media (max-width: 768px) {
  .conheca-mais {
    width: 100%;
    border-radius: 10px;
    display: flex;
    height: 590px;
    flex-direction: row;
    margin-top: 50px;
    background-color: #3D1887;
  }
  .conheca-mais .left-side-conheca {
    width: 90%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .conheca-mais .left-side-conheca h2 {
    font-family: "Poppins", sans-serif;
    color: #FAF8FB;
    font-size: 2.3rem;
  }
  .conheca-mais .left-side-conheca p {
    font-size: 1.4rem;
    color: #FAF8FB;
    font-family: "Roboto", sans-serif;
  }
  .conheca-mais .left-side-conheca .btn-conheca-mais {
    margin-top: 20px;
    height: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    border-radius: 0.6rem;
    font-family: "Poppins", sans-serif;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .conheca-mais .right-side-conheca {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .conheca-mais .right-side-conheca img {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .conheca-mais {
    width: 100%;
    border-radius: 20px;
    background-color: #3D1887;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .conheca-mais .left-side-conheca {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #FAF8FB;
  }
  .conheca-mais .left-side-conheca h2 {
    width: 60%;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    text-align: center;
  }
  .conheca-mais .left-side-conheca p {
    width: 90%;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-align: center;
  }
  .conheca-mais .left-side-conheca button {
    width: 30%;
    height: 32px;
    background-color: #FAF8FB;
    border: none;
    border-radius: 5px;
    margin-top: 8px;
  }
  .conheca-mais .left-side-conheca button a {
    text-decoration: none;
    color: #3D1887;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    font-weight: bold;
  }
  .conheca-mais .right-side-conheca {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
  }
  .conheca-mais .right-side-conheca img {
    width: 90%;
    height: 290px;
  }
}

.agradecimentos {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.agradecimentos .agradecimentos-imgs {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.agradecimentos .agradecimentos-imgs img {
  width: 15%;
  height: 250px;
}
.agradecimentos h2 {
  position: relative;
  bottom: 120px;
  font-family: "Poppins", sans-serif;
  color: #3D1887;
  font-size: 3rem;
}
.agradecimentos img {
  width: 55%;
  padding-top: 10px;
  padding-left: 20px;
}
.agradecimentos .senac {
  width: 50%;
}
.agradecimentos .proa {
  width: 30%;
}
@media (max-width: 576px) {
  .agradecimentos .agradecimentos-imgs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    padding-top: 48px;
    align-items: center;
    justify-content: center;
  }
  .agradecimentos .agradecimentos-imgs img {
    width: 45%;
  }
  .agradecimentos .proa {
    position: relative;
    bottom: 90px;
  }
}
@media (max-width: 768px) {
  .agradecimentos .agradecimentos-imgs {
    display: flex;
    width: 70%;
    height: 250px;
    align-items: center;
    justify-content: center;
  }
  .agradecimentos .agradecimentos-imgs img {
    width: 45%;
    height: 230px;
  }
  .agradecimentos .proa {
    position: relative;
  }
}

/*# sourceMappingURL=medias.css.map */
