@import '../variables.scss';

* {
    margin: 0;
    padding: 0;
}

.adquira-container{

.adquira_topo {
    background-color: #3D1887;
    max-width: 100%;
    height: 740px;
    display: flex;
    justify-content: flex-end;
}

svg {
    position: relative;
    top: 161.9px;
}

 img{
    position: absolute;
    top: 42px;
    left: 898px;
    z-index: 1;
    rotate: -3.5deg;
}

h1{
    position: relative;
    top: 260px;
    left: -100px;
    height: 100px;
    max-width: 25ch;
    color: #FFF;
font-family: $font-family-poppins;
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: normal;
flex-direction: row;
justify-content: center;
align-items: center;
}
h1 span{
    color: #FFEA73;
}

p{
    position: relative;
    top: 340px;
    left: 240px;
    height: 100px;
    max-width: 28ch;
    color: #FFF;
font-family: $font-family-roboto;
font-size: 21.8px;
font-style: normal;
font-weight: 500;
line-height: normal;
justify-content: center;
align-items: center;
}

.Comprar{
    position: relative;
    top: -340px;
    left: 238px;
    font-family: $font-family-roboto;
    width: 265px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 59px;
    font-size: 21.8px;
    flex-shrink: 0;
    border-radius: 10px;
background: #FFEA73;
}

.svg2{
    top: -70px;
    left: -265px;
    width: 993.9px;
}

.grupo{
    height: 913.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.figgs{
    width: 400px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 40px;
    background: #D49EED;
    box-shadow: 0px 12px 4px 0px rgba(0, 0, 0, 0.25);
}

h4{
    position: relative;
    top: 345px;
    display: flex;
height: 74px;
flex-direction: column;
justify-content: center;
color: #000;
text-align: center;
font-family: $font-family-poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.textin{
    position: relative;
    top: 414px;
    left: 0px;
    display: flex;
    max-width: 40ch;
height: 47px;
flex-direction: column;
justify-content: center;
color: #000;
text-align: center;
font-family: $font-family-roboto;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.apro{
    top: 2000px;
    left: 160px;
}

.sec{
    top: 2000px;
    left: 680px;
}

.pinc{
    top: 2000px;
    left: 1200px;
}

.plano{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1280px;
    
}

.compras{
position: relative;
left: 120px;
width: 562.189px;
height: 980px;
flex-shrink: 0;
border-radius: 20px;
background-color: #FFF;
box-shadow: 0px 4px 12.1px 0px rgba(0, 0, 0, 0.30);
text-align: center;
font-family: $font-family-roboto;
padding-top: 35px;
text-align: center;
}
.compras2{
    position: relative;
    left: -120px;
    width: 562.189px;
    height: 980px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 4px 12.1px 0px rgba(0, 0, 0, 0.30);
    text-align: center;
    font-family: $font-family-roboto;
    padding-top: 35px;
    }
.compras .h2_1{
    font-size: 36px;
    left: -17px;
    top: 11px;
}
.compras2 .h2_2{
    font-size: 36px;
    left: 12px;
    top: 3px;
}

.logo{
    top: 121px;
    left: 145px;
    rotate: 0deg;
}
.logo2{
    top: 121px;
    left: 136px;
    rotate: 0deg;
}

.textoss{
    display: flex;
width: 539.623px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
text-align: center;
gap: 20px;
}
.textinho{
    position: relative;
    color: #000;
    font-family: $font-family-roboto;
    left: 170px;
    top: 201px;
    font-size: 25px;
}

.Preco{
    position: relative;
    top: 380px;
    width: 233.509px;
height: 66px;
flex-shrink: 0;
border-radius: 15px;
background: #5E329D;
color: white;
font-size: 26px;
}

.Preco2{
    position: relative;
    top: 268px;
    width: 233.509px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #5E329D;
    color: white;
    font-size: 26px;
}

.divisao{
    position: relative;
    top: -531px;
    left: 369px;
    width: 374.132px;
height: 51px;
flex-shrink: 0;
border-radius: 20px 20px 0px 0px;
background: #5E329D;
text-align: center;
color: white;
font-family: $font-family-poppins;
font-size: 35px;
padding-top: 5px;
}

.cel {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 7rem; /* Espaçamento entre os elementos */
    justify-items: start; /* Alinha os itens à esquerda */
    padding: 1rem;
    max-width: 600px; /* Limita a largura para melhor legibilidade */
     /* Centraliza o componente na tela */
}

.visual {
    font-size: 2.6rem;
    font-weight: 30;
    color: #333;
}

.frase2 {
    position: relative;
    left: 233px;
    font-size: 3.5rem;
    color: #3D1887;
    font-family: $font-family-poppins;
}

.textao3 {
    font-size: 1.3rem;
    line-height: 1.6;
    max-width: 50rem;
    color: #444;
}

.amarelo{
    position: absolute;
    top: 10px;
    color: #FFEA73;
    left: 0;
}

.ageos1{
    position: absolute;
    top: 220px;
    right: 0;
    rotate: -0deg;
}

.linha1{
    position: absolute;
    left: 0;
    top: 875px;
}

.linha2{
    position: absolute;
    left: 0;
    top: 875px;
}

.h3_1{
    position: relative;
    left: 233px;
    top: 490px;
    font-size: 3.1rem;
    color: #3D1887;
    font-family: $font-family-poppins;
}

.textao4{
    position: relative;
    top: 405px;
    font-size: 1.2rem;
  line-height: 1.6;
  max-width: 50rem;
  color: #444;
  text-align: center;
}

img .veio{
    position: relative;
    left: 233px;
    top: 490px;
}
}