@import "../variables.scss";

// Variáveis de breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;

// Mixins para media queries
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$breakpoint-laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.adquira-page {
  .simplicidade-section {
    width: 100%;
    height: 775px;
    background-color: $color-purple;
    display: flex;

    .simplicidade-text {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 100px;

      h1 {
        font-family: $font-family-poppins;
        font-size: 4rem;
        color: $color-white;

        strong {
          color: $color-yellow;
        }
      }

      p {
        font-family: $font-family-roboto;
        color: $color-white;
        font-size: 2rem;
      }

      button {
        position: relative;
        top: 20px;
        width: 25%;
        height: 45px;
        background-color: $color-yellow;
        border: none;
        border-radius: 10px;
        font-size: 1.4rem;
        font-weight: bold;
        font-family: $font-family-poppins;
        padding: 5px;
      }
    }

    .simplicidade-imgs {
      width: 40%;
      position: relative;

      .veia-img {
        width: 80%;
        height: 90%;
        position: relative;
        left: 180px;
        top: 96px;
        z-index: 2;
        rotate: -3deg;
      }

      .bola-img {
        width: 70%;
        position: relative;
        z-index: 1;
        bottom: 510.3px;
        left: 250px;
        rotate: -3.8deg;
      }
    }

    .linha-amarela {
      position: absolute;
      width: 100%;
      margin: 0;
      left: 0;
      right: 0;

      svg {
        position: relative;
        top: 670px;
        left: 0;
        width: 100%;
        height: auto;
      }
    }

    @include laptop {
      .simplicidade-text {
        padding-left: 50px;

        h1 {
          font-size: 3.5rem;
        }

        p {
          font-size: 1.8rem;
        }

        button {
          width: 30%;
          height: 40px;
          font-size: 1.2rem;
        }
      }

      .simplicidade-imgs {
        .veia-img {
          left: 150px;
          top: 80px;
        }

        .bola-img {
          bottom: 480px;
          left: 220px;
        }
      }
    }

    @include tablet {
      flex-direction: column;
      height: auto;

      .simplicidade-text {
        width: 100%;
        height: 5px;
        position: relative;
        top: 210px;
        padding-left: 20px;
        padding-right: 20px;
        z-index: 2;

        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.6rem;
        }

        button {
          width: 40%;
          height: 35px;
          font-size: 1rem;
        }
      }

      .simplicidade-imgs {
        width: 100%;
        display: flex;
        justify-content: center;

        .veia-img {
          // display: none;
          position: relative;
          z-index: 1;
          width: 40%;
          left: 470px;
          top: 137px;
        }

        .bola-img {
          visibility: hidden;
          width: 60%;
          bottom: 0;
          left: 0;
        }
      }

      .linha-amarela {
        display: none;
      }
    }

    @include mobile {
      .simplicidade-section {
        height: 200px;
      }

      .simplicidade-text {
        padding-left: 10px;
        padding-right: 10px;

        h1 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1.4rem;
        }

        button {
          width: 50%;
          height: 30px;
          font-size: 0.9rem;
        }
      }

      .simplicidade-imgs {
        .veia-img {
          display: none;
          width: 60%;
        }

        .bola-img {
          height: 390px;
          // display: none;
          width: 50%;
        }
      }
    }
  }

  .simples-e-intuitivo {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 1280px;
    
}

.compras{
position: relative;
left: 120px;
width: 562.189px;
height: 980px;
flex-shrink: 0;
border-radius: 20px;
background-color: #FFF;
box-shadow: 0px 4px 12.1px 0px rgba(0, 0, 0, 0.30);
text-align: center;
font-family: $font-family-roboto;
padding-top: 35px;
text-align: center;
}
.compras2{
    position: relative;
    left: -120px;
    width: 562.189px;
    height: 980px;
    flex-shrink: 0;
    border-radius: 20px;
    background-color: #FFF;
    box-shadow: 0px 4px 12.1px 0px rgba(0, 0, 0, 0.30);
    text-align: center;
    font-family: $font-family-roboto;
    padding-top: 35px;
    }
.compras .h2_1{
    font-size: 36px;
    left: -17px;
    top: 11px;
}
.compras2 .h2_2{
    font-size: 36px;
    left: 12px;
    top: 3px;
}

.logo{
    top: 121px;
    left: 145px;
    rotate: 0deg;
}
.logo2{
    top: 121px;
    left: 136px;
    rotate: 0deg;
}

.textoss{
    display: flex;
width: 539.623px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
text-align: center;
gap: 20px;
}
.textinho{
    position: relative;
    color: #000;
    font-family: $font-family-roboto;
    left: 170px;
    top: 201px;
    font-size: 25px;
}

.Preco{
    position: relative;
    top: 380px;
    width: 233.509px;
height: 66px;
flex-shrink: 0;
border-radius: 15px;
background: #5E329D;
color: white;
font-size: 26px;
}

.Preco2{
    position: relative;
    top: 268px;
    width: 233.509px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #5E329D;
    color: white;
    font-size: 26px;
}

.divisao{
    position: relative;
    top: -531px;
    left: 369px;
    width: 374.132px;
height: 51px;
flex-shrink: 0;
border-radius: 20px 20px 0px 0px;
background: #5E329D;
text-align: center;
color: white;
font-family: $font-family-poppins;
font-size: 35px;
padding-top: 5px;
}

.cel {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 7rem; /* Espaçamento entre os elementos */
    justify-items: start; /* Alinha os itens à esquerda */
    padding: 1rem;
    max-width: 600px; /* Limita a largura para melhor legibilidade */
     /* Centraliza o componente na tela */
}

.visual {
    font-size: 2.6rem;
    font-weight: 30;
    color: #333;
}

.frase2 {
    position: relative;
    left: 233px;
    font-size: 3.5rem;
    color: #3D1887;
    font-family: $font-family-poppins;
}

.textao3 {
    font-size: 1.3rem;
    line-height: 1.6;
    max-width: 40rem;
    color: #444;
}

.amarelo{
    position: absolute;
    width: 100%;
    bottom: 530px;
    margin: 0;
    left: 0;
    right: 0;

    svg {
      position: relative;
      top: 1250px;
      left: 0;
      width: 100%;
      height: auto;
      z-index: -1;
    }

    @include laptop {
      svg {
        top: 1100px;
      }
    }

    @include tablet {
      svg {
        top: 900px;
      }
    }

    @include mobile {
      svg {
        visibility: hidden;
        top: 700px;
      }
    }
  }

  .navegacao-net {
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 80px;

    .navegacao-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;

      h1 {
        font-family: $font-family-poppins;
        font-size: 3rem;
        font-weight: bold;
        color: $color-purple;
      }

      p {
        width: 90%;
        font-family: $font-family-roboto;
        font-size: 2.4rem;
        text-align: center;
        font-weight: 100;
      }
    }

    .navegacao-imgs {
      height: 200vh;

      .img1 {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
      }

      .img2 {
        width: 80%;
        padding-top: 50px;
      }

      .img-phone {
        width: 32%;
        position: relative;
        z-index: 2;
        bottom: 900px;
        left: 1180px;
      }
    }

    @include laptop {
      .navegacao-text {
        h1 {
          font-size: 2.5rem;
        }

        p {
          font-size: 2rem;
        }
      }

      .navegacao-imgs {
        .img-phone {
          bottom: 800px;
          left: 1000px;
        }
      }
    }

    @include tablet {
      .navegacao-text {
        h1 {
          font-size: 2rem;
        }

        p {
          font-size: 1.8rem;
        }
      }

      .navegacao-imgs {
        height: 800px;

        .img-phone {
          bottom: 400px;
          left: 500px;
        }
      }
    }

    @include mobile {
      .navegacao-text {
        h1 {
          font-size: 1.6rem;
        }

        p {
          font-size: 1.3rem;
        }
      }

      .navegacao-imgs {
        height: 400px;

        .img2 {
          position: relative;
          bottom: 30px;
        }

        .img-phone {
          bottom: 220px;
          left: 230px;
        }
      }
    }
  }

  .localizacao {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    .localizacao-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;

      h2 {
        font-family: $font-family-poppins;
        font-size: 4rem;
        color: $color-purple;
      }

      p {
        width: 90%;
        font-size: 2.3rem;
        text-align: center;
        font-family: $font-family-roboto;
      }
    }

    .localizacao-imgs {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .veio {
        width: 35%;
        position: relative;
        left: 22px;
        object-fit: cover;
        height: 650px;
      }

      .filha {
        width: 35%;
        position: relative;
        right: 22px;
        object-fit: cover;
        height: 650px;
      }

      .img-phone {
        position: relative;
        width: 23%;
        z-index: 2;
      }
    }

    @include laptop {
      .localizacao {
        position: relative;
  top: 260px;
  left: -100px;
  height: 100px;
  max-width: 25ch;
  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 21.8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    }
    .ageos1{
        height: 20%;
        left: 880px;
    }
    .svg2{
        top: -138px;
        left: -299px;
        max-width: 100%;
        width: 59.5%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .Veio2{
        width: 100%;
        height: auto;
        max-width: 925px;
    }
    .Veio3{
        width: 100%;
        height: auto;
        max-width: 925px;
    }
    .Celular3{
        position: absolute;
    top: 1529px;
    left: 880px;
    rotate: 0deg;
    height: 20%;
    }
    .moca{
        top: 2661px;
    }
    .Celular4{
        top: 2621px;
        height: 20%;
    }
    .Veia{
        left: 659px;
    }
}

@media screen and (min-width: 750px) and (max-width: 1170px) {
    .adquira-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .Veia{
        visibility: hidden;
    }
    .circulo{
        visibility: hidden;
    }
    h1{
        position: relative;
        top: 272px;
        left: -409.5px;
    height: 100px;
    max-width: 25ch;
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 21.8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    p{
        position: relative;
  top: 340px;
  left: -77px;
  height: 100px;
  max-width: 28ch;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 21.8px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: center;
  align-items: center;
    }
    .svg2{
        visibility: hidden;
    }
    .Comprar{
        padding: 10px 20px; 
  background-color: #9A78C9; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
    }
    .Comprar:hover {
        background-color: #7C76DA; 
      }

}
}
