// @import "../variables.scss";

// @media screen and (min-width: 1530px) and (max-width: 1900px) {

//   .phone-img {
//     width: 28% !important;
//     object-fit:cover !important;
//   }
// }

// @media screen and (min-width: 1000px) and (max-width: 1400px) {

//     .hero-section{
//         width: 100% !important;
//         margin: 0 0px 0 20px !important;

//         .apresentation {
//             width: 50%;

//             h1{
//                 font-size: 55px !important;
//             }

//         }

//         .phone-img{
//             width: 30% !important;

//             img{
//                 width: 100% !important;
//                 object-fit: cover !important;
//             }
//         }

//     }
// }

// @media screen and (min-width: 1000px) and (max-width: 1370px) {

//     .btn-conhecer{
//         width: 20% !important;
//         font-size: 15px !important;
//     }
// }

@import "../variables.scss";

// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;

// Mixins for responsive design
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$breakpoint-laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

.hero-section {
  position: relative;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;

  @include laptop {
    top: -50px;
    // margin-bottom: 20px;
  }

  @include tablet {
    margin-top: 120px;
    flex-direction: column;
    width: 100%;
  }

  @include mobile {
    margin-top: 120px;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
  }

  .apresentation {
    display: flex;
    flex-direction: column;
    width: 75%;

    @include tablet {
      width: 100%;
      text-align: center;
      align-items: center;
    }

    a {
      text-decoration: none;
    }

    h1 {
      font-size: 72px;
      font-family: $font-family-poppins;
      color: $color-purple;

      @include laptop {
        font-size: 56px;
      }

      @include tablet {
        font-size: 42px;
      }

      @include mobile {
        font-size: 32px;
      }
    }

    .btn-conhecer {
      font-size: 24px;
      width: 18%;
      height: 59px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      border: none;
      color: $color-black;
      background-color: $color-yellow;
      font-weight: 600;
      margin-top: 45px;

      @include desktop {
        width: 30%;
      }

      @include laptop {
        width: 50%;
        font-size: 24px;
      }

      @include tablet {
        width: 120%;
        font-size: 20px;
      }

      @include mobile {
        width: 130%;
        font-size: 18px;
        height: 50px;
      }
    }
  }

  .phone-img {
    width: 38%;
    display: flex;
    height: 87vh;
    overflow: hidden;
    position: relative;
    top: 50px;
    object-fit: cover;
    overflow: hidden !important;

    @include desktop {
      width: 100%;
      height: 100%;
    }

    @include tablet {
      width: 100%;
      height: 100%;
      //   margin-top: 30px;
    }

    @include mobile {
      width: 100%;
      height: 100%;
    }
  }

  img {
    position: relative;
    width: 99%;
    height: 100%;
    object-fit: cover;
  }

  @include mobile {
    width: 100%;
  }

  .linha-amarela {
    width: 100%;
    position: absolute;
    right: 200px;
    min-width: 100%;
    z-index: -1;
    display: flex;
    align-items: start;
    justify-content: start;

    @include tablet {
      right: 0;
    }

    svg {
      width: 500%;
      object-fit: cover;

      @include tablet {
        width: 300%;
      }
    }
  }
}

.telas {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 84px;
    color: $color-purple;
    font-family: $font-family-poppins;

    @include laptop {
      margin-top: -400px;
      font-size: 64px;
    }

    @include tablet {
      font-size: 48px;
    }

    @include mobile {
      font-size: 36px;
    }
  }

  p {
    width: 73%;
    text-align: center;
    font-size: 34px;
    font-family: $font-family-roboto;

    @include laptop {
      width: 85%;
      font-size: 28px;
    }

    @include tablet {
      width: 90%;
      font-size: 24px;
    }

    @include mobile {
      width: 95%;
      font-size: 20px;
    }
  }

  .slide {
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
    object-fit: cover;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
  }
}

.beneficios-etc {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;

  h1 {
    font-size: 84px;
    font-family: $font-family-poppins;
    color: $color-purple;

    @include laptop {
      font-size: 64px;
    }

    @include tablet {
      font-size: 48px;
    }

    @include mobile {
      font-size: 36px;
    }
  }

  p {
    width: 69%;
    text-align: center;
    font-size: 34px;
    color: $color-black;
    font-family: $font-family-roboto;

    @include tablet {
      width: 85%;
      font-size: 28px;
    }

    @include mobile {
      width: 90%;
      font-size: 22px;
    }
  }

  .seguranca {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;

    @include mobile {
      width: 100%;
      height: 200px !important;
    }

    @include tablet {
      flex-direction: column;
      align-items: center;
    }

    .seguranca-text {
      width: 87%;
      height: 600px;
      // position: relative;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      // z-index: 2;

      @include tablet {
        height: auto;
        padding: 40px 20px;
        align-items: center;
      }

      h1 {
        color: $color-white;
        font-size: 80px;
        position: relative;
        bottom: 100px;
        display: flex;
        flex-wrap: wrap;

        @include desktop {
          font-size: 50px;
        }

        @include laptop {
          font-size: 40px;
          bottom: 150px;
        }

        @include tablet {
          font-size: 30px;
          bottom: 10px;
          right: 130px;
        }

        @include mobile {
          font-size: 18px;
          position: relative;
          // top: 0.1rem;
          right: 4rem;
        }
      }

      p {
        position: relative;
        width: 50%;
        text-align: start;
        bottom: 90px;
        color: $color-white;
        font-size: 28px;
        font-family: $font-family-roboto;

        @include desktop {
          font-size: 24px;
        }

        @include laptop {
          width: 60%;
          bottom: 140px;
          text-align: center;
        }

        @include tablet {
          width: 60%;
          text-align: center;
          right: 150px;
          bottom: 0;
          font-size: 20px;
        }
        @include mobile {
          max-width: 70%;
          width: 70%;
          font-size: 0.8rem;
          position: relative;
          right: 4rem;
          // bottom: 10px;
        }
      }
    }

    img {
      position: absolute;
      width: 90%;
      z-index: 0;

      @include tablet {
        // position: relative;
        width: 100%;
      }

      @include mobile {
        width: 99%;
        border-radius: 20px;
        height: 180px;
        // object-fit: cover;
      }
    }
  }
}

.apps {
  @include mobile {
    max-width: 95%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;

    .celular-apps {
      width: 100%;

      img {
        width: 100%;
      }
    }

    h2 {
      font-size: 1.7rem;
      font-family: $font-family-poppins;
    }

    .lista-apps {
      width: 98%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 1.7rem;
        font-family: $font-family-poppins;
        display: none;
      }

      p {
        font-size: 1.1rem;
        font-family: $font-family-roboto;
      }
    }

    .apps-lado1 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      border-bottom: 1px solid black;

      .linha-lateral {
        position: relative;
        // top: 1px;
        width: 1%;
        height: 150px;
        border-right: 1px solid black;
        // z-index: 2;
      }

      .linha-baixo {
        width: 10%;
        height: 10px;
        border-bottom: 1px solid black;
      }

      img {
        width: 80%;
      }

      p {
        font-family: $font-family-roboto;
        font-size: 1.2rem;
      }

      .bloco1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .bloco2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .apps-lado2 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // border-bottom: 1px solid black;
      margin-bottom: 40px;

      .linha-lateral2 {
        position: relative;
        // top: 1px;
        width: 1%;
        height: 150px;
        border-right: 1px solid black;
        // z-index: 2;
      }

      .linha-baixo {
        width: 10%;
        height: 10px;
        border-bottom: 1px solid black;
      }

      img {
        width: 80%;
      }

      p {
        font-family: $font-family-roboto;
        font-size: 1.2rem;
      }

      .bloco3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .bloco4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.gemini {
  @include mobile {
    width: 95%;
    max-width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text-gemini {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        font-family: $font-family-poppins;
        font-size: 1.8rem;
      }

      p {
        font-family: $font-family-roboto;
        font-size: 1.3rem;
      }
    }

    .gemini-phone {
      width: 98%;
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 100px;

      img {
        width: 100%;
      }
    }
  }
}

.atendimento {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  @include laptop {
    margin-top: -70px;
  }

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  img {
    width: 100%;
    border-radius: 20px;

    @include mobile {
      width: 99% !important;
      height: 200px !important;
      object-fit: cover;
    }

    @include tablet {
      width: 100%;
      height: 100%;
    }
  }

  h1 {
    position: absolute;
    color: $color-white;
    right: 10%;
    font-size: 85px;
    top: 20%;

    @include desktop {
      font-size: 70px;
    }

    @include laptop {
      font-size: 50px;
    }

    @include tablet {
      width: 100%;
      font-size: 40px;
      position: absolute;
      top: 30px;
      // right: 200px;
      left: 150px;
      text-align: center;
      margin: 20px 0;
      z-index: 5;
      // color: white;
    }

    @include mobile {
      left: 60px;
      top: 20px;
      font-size: 28px;
    }
  }

  p {
    position: absolute;
    font-size: 30px;
    color: $color-white;
    width: 50%;
    right: 10%;
    text-align: right;
    top: 45%;
    font-family: $font-family-roboto;

    @include laptop {
      font-size: 24px;
    }

    @include tablet {
      // position: relative;
      width: 50%;
      text-align: end;
      font-size: 22px;
    }

    @include mobile {
      font-size: 14px;
      left: 150px;
    }
  }
}

.conheca-mais {
  width: 100%;
  border-radius: 20px;
  // height: 306px;
  background-color: $color-purple;
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  .left-side-conheca {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $color-white;

    h2 {
      width: 60%;
      font-family: $font-family-poppins;
      font-size: 1.2rem;
      text-align: center;
    }

    p {
      width: 90%;
      padding-top: 10px;
      font-family: $font-family-roboto;
      font-size: 1rem;
      text-align: center;
    }

    button {
      width: 30%;
      height: 32px;
      background-color: $color-white;
      border: none;
      border-radius: 5px;
      margin-top: 8px;

      a {
        text-decoration: none;
        color: $color-purple;
        font-family: $font-family-poppins;
        font-size: 0.8rem;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  .right-side-conheca {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    // padding-top: px;

    img {
      width: 90%;
      height: 280px;
      align-items: center;
    }
  }
}

.agradecimentos {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    font-family: $font-family-poppins;
    color: $color-purple;
    font-size: 2rem;
  }

  img {
    width: 55%;
    padding-top: 10px;
    padding-left: 20px;
  }

  .senac {
    width: 50%;
  }

  .proa {
    width: 30%;
  }
}
