@import "../variables.scss";

.containersobre {
  width: 100%;
}

.imagem {
  width: 100%;
  height: 800px;
}

.container2 {
  display: flex;
  justify-content: end;
}

.imagem2 {
  height: 120px;
  width: 120px;
  margin-top: -40px;
  transition: opacity 0.3s ease;
  position: fixed;
}

.imagem2:hover {
  opacity: 0.8;
}

.texto h1 {
  font-size: 101px;
  color: #3D1887;
  font-family: $font-family-poppins;
  margin-left: 100px;
}

.texto p {
  font-size: 43px;
  margin-left: 100px;
  font-family: $font-family-roboto;
  width: 100%;
}

.texto {
  width: 80%;
}

.container_missao {
  width: 100%;
  height: 300px;
  display: flex;
}

.imagem3 img {
  margin-right: 200px;
  width: 300px;
  height: 300px;
  margin-top: 70px;
}

.container_visao {
  width: 100%;
  height: 300px;
  display: flex;
}

.texto_visao h1 {
  font-size: 90px;
  color: #3D1887;
  font-family: $font-family-poppins;
  margin-left: 1520px;
}

.texto_visao {
  width: 100%;
}

.texto_visao p {
  font-size: 42px;
  font-family: $font-family-roboto;
  width: 60%;
  text-align: end;
  margin-left: 640px;
}

.imagem4 img {
  margin-top: 320px;
  margin-left: 250px;
  width: 300px;
  height: 300px;
}

.valores-e-coracao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 200px;
}

.valores {
  width: 60%;

}

.valores h1 {
  font-size: 90px;
  color: #3D1887;
  font-family: $font-family-poppins;
  margin-left: 430px;
}

.valores p {
  font-size: 32px;
  font-family: $font-family-roboto;
  margin: 30px 0;
  margin-left: 150px;
}

.bold {
  font-weight: bold;
  display: inline;
}

.coracao img {
  width: 400px;
  height: 400px;
  margin-right: 200px;
  margin-bottom: 40px;
  
}
.identidade{
    width: 100%;
    background-color: #5E329D;
}
.identidade img{
    width: 60%;
    height: auto px;
    margin-left: 400px;
}

.container_tequipe h1{
  color: #3D1887;
  font-size: 90px;
  font-family:$font-family-poppins ;
  text-align: center;
}

/* Contêiner para ambas as imagens */
.isa {
  position: relative; /* Referência para posicionamento absoluto */
  width: 50%; /* Ajuste conforme necessário */
  height: auto;

  
}

/* Contêiner Flex para dividir 50% para cada */
.container-isa-flex {
  display: flex; /* Ativa Flexbox para organizar lado a lado */
  width: 100%; /* Ocupar toda a largura */
  
}

/* Cada metade ocupa 50% */
.isa {
  position: relative;
  width: 50%; /* 50% da largura para cada grupo */
  height: auto;
}

/* Imagem principal */
.isap {
  width: 80%;
  height: 100%;
  margin-left: 100px;
  display: block;
}

/* Ícones sobrepostos */
.git {
  position: absolute;
  bottom: 90px;
  left: 470px;
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 10px;

}

.linke {
  position: absolute;
  bottom: 90px;
  left: 410px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  z-index: 10;
}







.jesse {
  position: relative; /* Referência para posicionamento absoluto */
  width: 50%; /* Ajuste conforme necessário */
  height: auto;
  margin-top: 100px;

  
}

/* Contêiner Flex para dividir 50% para cada */
.container-jesse-flex {
  display: flex; /* Ativa Flexbox para organizar lado a lado */
  width: 100%; /* Ocupar toda a largura */
  
}

/* Cada metade ocupa 50% */
.jesse {
  position: relative;
  width: 50%; /* 50% da largura para cada grupo */
  height: auto;
}

/* Imagem principal */
.jessep {
  width: 80%;
  height: 100%;
  margin-left: 100px;
  display: block;
}

/* Ícones sobrepostos */
.git1 {
  position: absolute;
  bottom: 70px;
  left: 470px;
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 10px;

}

.linke1 {
  position: absolute;
  bottom: 70px;
  left: 410px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  z-index: 10;
}



.git2 {
  position: absolute;
  bottom: 94px;
  left: 470px;
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 10px;

}

.linke2 {
  position: absolute;
  bottom: 95px;
  left: 410px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  z-index: 10;
}




.git3 {
  position: absolute;
  bottom: 69px;
  left: 470px;
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 10px;

}

.linke3 {
  position: absolute;
  bottom: 70px;
  left: 410px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  z-index: 10;
}







.jeff {
  position: relative; /* Referência para posicionamento absoluto */
  width: 50%; /* Ajuste conforme necessário */
  height: auto;
  margin-top: 100px;

  
}

/* Contêiner Flex para dividir 50% para cada */
.container-jeff-flex {
  display: flex; /* Ativa Flexbox para organizar lado a lado */
  width: 100%; /* Ocupar toda a largura */
  
}

/* Cada metade ocupa 50% */
.jeff {
  position: relative;
  width: 50%; /* 50% da largura para cada grupo */
  height: auto;
}

/* Imagem principal */
.jeffp {
  width: 80%;
  height: 100%;
  margin-left: 100px;
  display: block;
}

/* Ícones sobrepostos */
.git4 {
  position: absolute;
  bottom: 70px;
  left: 470px;
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 10px;

}

.linke4 {
  position: absolute;
  bottom: 70px;
  left: 410px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  z-index: 10;
}











/* Contêiner Flex para dividir 50% para cada */
.container-vitor-flex {
  display: flex; /* Ativa Flexbox para organizar lado a lado */
  width: 100%; /* Ocupar toda a largura */
  
}

/* Cada metade ocupa 50% */
.vitor {
  position: relative;
  width: 50%; /* 50% da largura para cada grupo */
  height: auto;
  position: relative;
  top: 100px;
  margin-left: -10px;
}

/* Imagem principal */
.vitorp {
  width: 80%;
  height: 100%;
  margin-left: 100px;
  display: block;
}

/* Ícones sobrepostos */
.git5 {
  position: absolute;
  bottom: 70px;
  left: 470px;
  width: 40px;
  height: 40px;
  z-index: 10;
  border-radius: 10px;

}

.linke5 {
  position: absolute;
  bottom: 70px;
  left: 410px;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  z-index: 10;
}