@import "../variables.scss";

// Variáveis de breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;

// Mixins para media queries
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$breakpoint-laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$breakpoint-desktop}) {
    @content;
  }
}

.form-page {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  align-items: center;
  margin-bottom: 50px;

  h1 {
    font-size: 4rem;
    font-family: $font-family-poppins;
    color: $color-purple;
  }
}

.card {
  width: 85%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #5e329d;
  border-radius: 24px 20px 20px 20px;

  .side-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid white;
    .preencha {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      height: 80px;
      border-radius: 20px 0 0 0;
      border: 1px solid black;

      h3 {
        font-size: 2.4rem;
        color: $color-purple;
        font-family: $font-family-poppins;
      }
    }

    form {
      display: flex;
      width: 85%;
      flex-direction: column;
      gap: 10px;

      label {
        font-family: $font-family-roboto;
        font-size: 1.5rem;
        color: $color-white;
        padding: 5px;
      }

      input {
        height: 50px;
        border-radius: 20px;
        border: none;
        background-color: rgba(217, 217, 217, 0.6);
        font-size: 1.3rem;
      }

      .address {
        padding-top: 20px;

        input {
          width: 24%;
          font-size: 1.3rem;
        }
      }

      .formas-pagamento {
        h3 {
          font-size: 2rem;
          color: $color-white;
          font-family: $font-family-poppins;
          padding: 15px;
        }

        .buttons {
          text-align: center;
          background-color: transparent;
          border: none;
          display: flex;
          justify-content: center;
          gap: 80px;
          // padding-top: 10px;

          button {
            border: none;
            background-color: transparent;
            // padding-left: 20px;
            cursor: pointer;

            &:focus {
              transform: scale(1.2);
              filter: grayscale(100%);
            }

            img {
              object-fit: cover;
            }

            p {
              color: $color-white;
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }

  .package-side {
    width: 50%;

    .pacote-escolhido {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      height: 80px;
      border-radius: 0 20px 0 0;
      border: 1px solid black;

      h3 {
        font-size: 2.4rem;
        color: $color-purple;
        font-family: $font-family-poppins;
      }
    }

    .pacote-premium {
      display: flex;
      height: 710px;
      margin: 10px auto;
      border-radius: 20px;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      background-color: $color-white;
      width: 85%;
      // justify-content: center;
      // gap: 20px;
      img {
        width: 40%;
        padding-bottom: 10px;
      }

      h2 {
        font-family: $font-family-poppins;
        font-size: 2.5rem;
        color: $color-purple;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      ul li {
        font-size: 2rem;
        font-family: $font-family-roboto;
        // gap: 20px;
      }

      a {
        display: flex;

        button {
          height: 55px;
          width: 30%;
          margin: 0 auto;
          font-family: $font-family-poppins;
          font-size: 1.5rem;
          padding: 0 20px 0 20px;
          // text-align: center;
          border-radius: 15px;
          border: none;
          font-weight: bold;
          background: $color-purple;
          color: $color-white;
          margin-top: 20px;
        }
      }
    }

    .pagamento-final {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      padding-top: 20px;

      button {
        width: 50% !important;
        height: 60px !important;
        font-family: $font-family-poppins;
        font-weight: bold;
        font-size: 1.3rem;
        color: black !important;
        background-color: #ffea73 !important;
        border: none;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }
}
