@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


// Fontes
$font-family-poppins: 'Poppins', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;


// colors
$color-black:#393939;
$color-white:#FAF8FB;
$color-gray:#D9D9D9;
$color-purple:#3D1887;
$color-yellow:#FFEA73





