@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.adquira-page .simplicidade-section {
  width: 100%;
  height: 775px;
  background-color: #3D1887;
  display: flex;
}
.adquira-page .simplicidade-section .simplicidade-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}
.adquira-page .simplicidade-section .simplicidade-text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  color: #FAF8FB;
}
.adquira-page .simplicidade-section .simplicidade-text h1 strong {
  color: #FFEA73;
}
.adquira-page .simplicidade-section .simplicidade-text p {
  font-family: "Roboto", sans-serif;
  color: #FAF8FB;
  font-size: 2rem;
}
.adquira-page .simplicidade-section .simplicidade-text button {
  position: relative;
  top: 20px;
  width: 25%;
  height: 45px;
  background-color: #FFEA73;
  border: none;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}
.adquira-page .simplicidade-section .simplicidade-imgs {
  width: 40%;
  position: relative;
}
.adquira-page .simplicidade-section .simplicidade-imgs .veia-img {
  width: 80%;
  height: 90%;
  position: relative;
  left: 180px;
  top: 96px;
  z-index: 2;
  rotate: -3deg;
}
.adquira-page .simplicidade-section .simplicidade-imgs .bola-img {
  width: 70%;
  position: relative;
  z-index: 1;
  bottom: 510.3px;
  left: 250px;
  rotate: -3.8deg;
}
.adquira-page .simplicidade-section .linha-amarela {
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
  right: 0;
}
.adquira-page .simplicidade-section .linha-amarela svg {
  position: relative;
  top: 670px;
  left: 0;
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  .adquira-page .simplicidade-section .simplicidade-text {
    padding-left: 50px;
  }
  .adquira-page .simplicidade-section .simplicidade-text h1 {
    font-size: 3.5rem;
  }
  .adquira-page .simplicidade-section .simplicidade-text p {
    font-size: 1.8rem;
  }
  .adquira-page .simplicidade-section .simplicidade-text button {
    width: 30%;
    height: 40px;
    font-size: 1.2rem;
  }
  .adquira-page .simplicidade-section .simplicidade-imgs .veia-img {
    object-fit: contain;
    width: 100%;
    left: 79px;
    top: 95px;
  }
  .adquira-page .simplicidade-section .simplicidade-imgs .bola-img {
    width: 120%;
    bottom: 464px;
    left: 20px;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  .adquira-page .simplicidade-section {
    flex-direction: column;
    height: auto;
  }
  .adquira-page .simplicidade-section .simplicidade-text {
    width: 100%;
    height: 5px;
    position: relative;
    top: 210px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
  }
  .adquira-page .simplicidade-section .simplicidade-text h1 {
    font-size: 3rem;
  }
  .adquira-page .simplicidade-section .simplicidade-text p {
    font-size: 1.6rem;
  }
  .adquira-page .simplicidade-section .simplicidade-text button {
    width: 40%;
    height: 35px;
    font-size: 1rem;
  }
  .adquira-page .simplicidade-section .simplicidade-imgs {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .adquira-page .simplicidade-section .simplicidade-imgs .veia-img {
    position: relative;
    z-index: 1;
    width: 40%;
    left: 470px;
    top: 137px;
  }
  .adquira-page .simplicidade-section .simplicidade-imgs .bola-img {
    visibility: hidden;
    width: 60%;
    bottom: 0;
    left: 0;
  }
  .adquira-page .simplicidade-section .linha-amarela {
    display: none;
  }
}
@media (max-width: 480px) {
  .adquira-page .simplicidade-section .simplicidade-section {
    height: 200px;
  }
  .adquira-page .simplicidade-section .simplicidade-text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .adquira-page .simplicidade-section .simplicidade-text h1 {
    font-size: 2.5rem;
  }
  .adquira-page .simplicidade-section .simplicidade-text p {
    font-size: 1.4rem;
  }
  .adquira-page .simplicidade-section .simplicidade-text button {
    width: 50%;
    height: 30px;
    font-size: 0.9rem;
  }
  .adquira-page .simplicidade-section .simplicidade-imgs .veia-img {
    display: none;
    width: 60%;
  }
  .adquira-page .simplicidade-section .simplicidade-imgs .bola-img {
    height: 390px;
    width: 50%;
  }
}
.adquira-page .simples-e-intuitivo {
  width: 85%;
  margin: 0 auto;
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .adquira-page .simples-e-intuitivo {
    flex-direction: row;
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
  .adquira-page .simples-e-intuitivo {
    flex-direction: column;
    padding-top: 60px;
  }
}
@media (max-width: 480px) {
  .adquira-page .simples-e-intuitivo {
    flex-direction: column;
    padding-top: 40px;
  }
}
.adquira-page .intuitivo-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.adquira-page .intuitivo-text h3 {
  width: 15%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  border-bottom: 2px solid #FFEA73;
}
.adquira-page .intuitivo-text h2 {
  font-family: "Poppins", sans-serif;
  color: #3D1887;
  font-size: 5rem;
}
.adquira-page .intuitivo-text p {
  width: 90%;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}
@media (max-width: 1024px) {
  .adquira-page .intuitivo-text h3 {
    font-size: 2.2rem;
  }
  .adquira-page .intuitivo-text h2 {
    font-size: 4.5rem;
  }
  .adquira-page .intuitivo-text p {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .adquira-page .intuitivo-text {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .adquira-page .intuitivo-text h3 {
    width: 70%;
    font-size: 2rem;
  }
  .adquira-page .intuitivo-text h2 {
    font-size: 4rem;
  }
  .adquira-page .intuitivo-text p {
    font-size: 1.5rem;
    padding-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .adquira-page .intuitivo-text {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .adquira-page .intuitivo-text h3 {
    width: 100%;
    font-size: 1.8rem;
  }
  .adquira-page .intuitivo-text h2 {
    font-size: 3.5rem;
  }
  .adquira-page .intuitivo-text p {
    font-size: 1.4rem;
  }
}
.adquira-page .intuitivo-phone {
  width: 30%;
}
@media (max-width: 1024px) {
  .adquira-page .intuitivo-phone {
    width: 35%;
  }
}
@media (max-width: 768px) {
  .adquira-page .intuitivo-phone {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .adquira-page .intuitivo-phone {
    width: 50%;
    position: relative;
    right: 110px;
    padding: 0;
    margin: 0 auto;
    align-items: center;
  }
}
.adquira-page .svg-lines {
  position: absolute;
  width: 100%;
  bottom: 530px;
  margin: 0;
  left: 0;
  right: 0;
}
.adquira-page .svg-lines svg {
  position: relative;
  top: 1250px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}
@media (max-width: 1024px) {
  .adquira-page .svg-lines svg {
    top: 1100px;
  }
}
@media (max-width: 768px) {
  .adquira-page .svg-lines svg {
    top: 900px;
  }
}
@media (max-width: 480px) {
  .adquira-page .svg-lines svg {
    visibility: hidden;
    top: 700px;
  }
}
.adquira-page .navegacao-net {
  width: 85%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.adquira-page .navegacao-net .navegacao-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.adquira-page .navegacao-net .navegacao-text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #3D1887;
}
.adquira-page .navegacao-net .navegacao-text p {
  width: 90%;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 100;
}
.adquira-page .navegacao-net .navegacao-imgs {
  height: 200vh;
}
.adquira-page .navegacao-net .navegacao-imgs .img1 {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.adquira-page .navegacao-net .navegacao-imgs .img2 {
  width: 80%;
  padding-top: 50px;
}
.adquira-page .navegacao-net .navegacao-imgs .img-phone {
  width: 32%;
  position: relative;
  z-index: 2;
  bottom: 900px;
  left: 1180px;
}
@media (max-width: 1024px) {
  .adquira-page .navegacao-net .navegacao-text h1 {
    font-size: 2.5rem;
  }
  .adquira-page .navegacao-net .navegacao-text p {
    font-size: 2rem;
  }
  .adquira-page .navegacao-net .navegacao-imgs .img-phone {
    bottom: 800px;
    left: 1000px;
  }
}
@media (max-width: 768px) {
  .adquira-page .navegacao-net .navegacao-text h1 {
    font-size: 2rem;
  }
  .adquira-page .navegacao-net .navegacao-text p {
    font-size: 1.8rem;
  }
  .adquira-page .navegacao-net .navegacao-imgs {
    height: 800px;
  }
  .adquira-page .navegacao-net .navegacao-imgs .img-phone {
    bottom: 400px;
    left: 500px;
  }
}
@media (max-width: 480px) {
  .adquira-page .navegacao-net .navegacao-text h1 {
    font-size: 1.6rem;
  }
  .adquira-page .navegacao-net .navegacao-text p {
    font-size: 1.3rem;
  }
  .adquira-page .navegacao-net .navegacao-imgs {
    height: 400px;
  }
  .adquira-page .navegacao-net .navegacao-imgs .img2 {
    position: relative;
    bottom: 30px;
  }
  .adquira-page .navegacao-net .navegacao-imgs .img-phone {
    bottom: 220px;
    left: 230px;
  }
}
.adquira-page .localizacao {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.adquira-page .localizacao .localizacao-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.adquira-page .localizacao .localizacao-text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  color: #3D1887;
}
.adquira-page .localizacao .localizacao-text p {
  width: 90%;
  font-size: 2.3rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.adquira-page .localizacao .localizacao-imgs {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.adquira-page .localizacao .localizacao-imgs .veio {
  width: 35%;
  position: relative;
  left: 22px;
  object-fit: cover;
  height: 650px;
}
.adquira-page .localizacao .localizacao-imgs .filha {
  width: 35%;
  position: relative;
  right: 22px;
  object-fit: cover;
  height: 650px;
}
.adquira-page .localizacao .localizacao-imgs .img-phone {
  position: relative;
  width: 23%;
  z-index: 2;
}
@media (max-width: 1024px) {
  .adquira-page .localizacao .localizacao {
    position: relative;
    bottom: 500px;
  }
  .adquira-page .localizacao .localizacao-text h2 {
    font-size: 3.5rem;
  }
  .adquira-page .localizacao .localizacao-text p {
    font-size: 2rem;
  }
  .adquira-page .localizacao .localizacao-imgs .veio,
  .adquira-page .localizacao .localizacao-imgs .filha {
    height: 600px;
  }
  .adquira-page .localizacao .localizacao-imgs .img-phone {
    width: 25%;
  }
}
@media (max-width: 768px) {
  .adquira-page .localizacao .localizacao-text h2 {
    font-size: 2.5rem;
  }
  .adquira-page .localizacao .localizacao-text p {
    font-size: 1.65rem;
  }
  .adquira-page .localizacao .localizacao-imgs {
    flex-direction: column;
  }
  .adquira-page .localizacao .localizacao-imgs .veio,
  .adquira-page .localizacao .localizacao-imgs .filha {
    width: 90%;
    object-fit: cover;
    height: 400px;
    left: 0;
    right: 0;
  }
  .adquira-page .localizacao .localizacao-imgs .img-phone {
    width: 50%;
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .adquira-page .localizacao .localizacao-text h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  .adquira-page .localizacao .localizacao-text p {
    font-size: 1.1rem;
  }
  .adquira-page .localizacao .localizacao-imgs {
    flex-direction: column;
  }
  .adquira-page .localizacao .localizacao-imgs .veio,
  .adquira-page .localizacao .localizacao-imgs .filha {
    width: 100%;
    height: 300px;
  }
  .adquira-page .localizacao .localizacao-imgs .img-phone {
    width: 50%;
    margin-top: 20px;
  }
}
.adquira-page .pacotes {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
}
.adquira-page .pacotes .pacotes-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 70px;
}
@media (max-width: 768px) {
  .adquira-page .pacotes .pacotes-text {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .adquira-page .pacotes .pacotes-text {
    width: 100%;
    padding-bottom: 20px;
  }
}
.adquira-page .pacotes .pacotes-text h2 {
  color: #3D1887;
  font-size: 4.5rem;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 768px) {
  .adquira-page .pacotes .pacotes-text h2 {
    font-size: 3.7rem;
  }
}
@media (max-width: 480px) {
  .adquira-page .pacotes .pacotes-text h2 {
    font-size: 1.9rem;
  }
}
.adquira-page .pacotes .pacotes-text p {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 768px) {
  .adquira-page .pacotes .pacotes-text p {
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .adquira-page .pacotes .pacotes-text p {
    font-size: 1.3rem;
    text-align: center;
  }
}
.adquira-page .pacotes .pacotes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}
@media (max-width: 768px) {
  .adquira-page .pacotes .pacotes {
    gap: 100px;
  }
}
.adquira-page .pacotes .pacotes :is(.pacote-basico, .pacote-premium) {
  width: 35%;
  height: 700px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 12.1px 0px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .adquira-page .pacotes .pacotes :is(.pacote-basico, .pacote-premium) {
    width: 80% !important;
  }
}
@media (max-width: 480px) {
  .adquira-page .pacotes .pacotes :is(.pacote-basico, .pacote-premium) {
    width: 100% !important;
  }
}
.adquira-page .pacotes .pacotes :is(.pacote-basico, .pacote-premium) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adquira-page .pacotes .pacotes :is(.pacote-basico, .pacote-premium) h2 {
  font-family: "Poppins", sans-serif;
  color: #3D1887;
  font-size: 3rem;
  padding-bottom: 10px;
}
.adquira-page .pacotes .pacotes :is(.pacote-basico, .pacote-premium) img {
  width: 60%;
  object-fit: cover;
  padding-bottom: 25px;
}
.adquira-page .pacotes .pacotes :is(.pacote-basico, .pacote-premium) ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.adquira-page .pacotes .pacotes :is(.pacote-basico, .pacote-premium) ul li {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
.adquira-page .pacotes .pacotes :is(.pacote-basico, .pacote-premium) a {
  width: 25%;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-decoration: none;
}
.adquira-page .pacotes .pacotes :is(.pacote-basico, .pacote-premium) a button {
  height: 55px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  background: #3D1887;
  color: #FAF8FB;
}
.adquira-page .pacotes .pacotes :is(.pacote-basico, .pacote-premium) .button-premium {
  position: relative !important;
  bottom: 40px;
}
.adquira-page .pacotes .pacotes .recomendado {
  width: 25%;
  position: absolute;
  top: 5295px;
  right: 22%;
  background-color: #3D1887;
  padding: 0.5rem;
  border-radius: 20px 20px 0 0;
  z-index: 1;
}
.adquira-page .pacotes .pacotes .recomendado h3 {
  position: relative;
  left: 120px;
  top: 10px;
  font-family: "Poppins", sans-serif;
  color: #FAF8FB;
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .adquira-page .pacotes .pacotes .recomendado {
    width: 40%;
    height: 650px;
  }
  .adquira-page .pacotes .pacotes .recomendado h2 {
    font-size: 2.5rem;
  }
  .adquira-page .pacotes .pacotes .recomendado img {
    width: 70%;
  }
  .adquira-page .pacotes .pacotes .recomendado ul li {
    font-size: 1.4rem;
  }
  .adquira-page .pacotes .pacotes .recomendado a {
    width: 35%;
  }
  .adquira-page .pacotes .pacotes .recomendado .recomendado {
    width: 30%;
    top: 4800px;
  }
  .adquira-page .pacotes .pacotes .recomendado .recomendado h3 {
    font-size: 1.8rem;
    left: 90px;
  }
}
@media (max-width: 768px) {
  .adquira-page .pacotes .pacotes .recomendado {
    width: 45%;
    height: 600px;
  }
  .adquira-page .pacotes .pacotes .recomendado h2 {
    font-size: 2rem;
  }
  .adquira-page .pacotes .pacotes .recomendado img {
    width: 60%;
  }
  .adquira-page .pacotes .pacotes .recomendado ul {
    width: 80%;
  }
  .adquira-page .pacotes .pacotes .recomendado ul li {
    font-size: 1.4rem;
  }
  .adquira-page .pacotes .pacotes .recomendado a {
    width: 45%;
  }
  .adquira-page .pacotes .pacotes .recomendado .recomendado {
    width: 55%;
    top: 5570px;
  }
  .adquira-page .pacotes .pacotes .recomendado .recomendado h3 {
    font-size: 1.6rem;
    left: 115px;
  }
}
@media (max-width: 480px) {
  .adquira-page .pacotes .pacotes .recomendado {
    width: 0%;
    height: auto;
    padding-bottom: 20px;
  }
  .adquira-page .pacotes .pacotes .recomendado h2 {
    font-size: 1.8rem;
  }
  .adquira-page .pacotes .pacotes .recomendado img {
    width: 50%;
  }
  .adquira-page .pacotes .pacotes .recomendado ul {
    width: 75%;
  }
  .adquira-page .pacotes .pacotes .recomendado ul li {
    font-size: 1rem;
  }
  .adquira-page .pacotes .pacotes .recomendado a {
    width: 60%;
    height: 100px;
  }
  .adquira-page .pacotes .pacotes .recomendado a button {
    height: 45px;
    font-size: 1.2rem;
  }
  .adquira-page .pacotes .pacotes .recomendado .recomendado {
    width: 65%;
    height: 40px;
    top: 4435px;
  }
  .adquira-page .pacotes .pacotes .recomendado .recomendado h3 {
    font-size: 1.3rem;
    left: 38px;
  }
}
@media (max-width: 768px) {
  .adquira-page .pacotes .pacotes {
    flex-direction: column;
  }
}
.adquira-page .pacotes .tire-as-duvidas {
  width: 100%;
  padding: 40px 40px 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.adquira-page .pacotes .tire-as-duvidas a {
  text-decoration: none;
}
.adquira-page .pacotes .tire-as-duvidas a button {
  width: 150%;
  margin: 0 auto;
  height: 50px;
  font-size: 1.4rem;
  background-color: #3D1887;
  color: #FAF8FB;
  border: none;
  border-radius: 15px;
}
@media (max-width: 1024px) {
  .adquira-page .pacotes .tire-as-duvidas {
    padding: 30px 30px 30px 0;
  }
  .adquira-page .pacotes .tire-as-duvidas a button {
    width: 130%;
    height: 45px;
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .adquira-page .pacotes .tire-as-duvidas {
    padding: 25px 25px 25px 0;
  }
  .adquira-page .pacotes .tire-as-duvidas a button {
    width: 120%;
    height: 50px;
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  .adquira-page .pacotes .tire-as-duvidas {
    padding: 30px;
  }
  .adquira-page .pacotes .tire-as-duvidas a button {
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
    padding: 10px;
    text-align: center;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
  .simplicidade-imgs {
    width: 40%;
    position: relative;
  }
  .simplicidade-imgs .veia-img {
    left: 120px !important;
    top: 95px !important;
    rotate: -4.2deg !important;
  }
  .simplicidade-imgs .bola-img {
    width: 99% !important;
    position: relative;
    z-index: 1;
    bottom: -200 !important;
    left: 27px !important;
    rotate: -3.8deg;
  }
  .svg-lines {
    position: absolute;
    width: 100%;
    bottom: 200px !important;
    margin: 0;
    left: 0;
    right: 0;
  }
  .svg-lines svg {
    position: relative;
    top: 1250px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
  }
  .img-phone {
    width: 32%;
    position: relative;
    z-index: 2;
    bottom: 700px !important;
    left: 890px !important;
  }
  .localizacao-imgs {
    width: 100% !important;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .localizacao-imgs .veio {
    width: 35% !important;
    position: relative;
    left: 22px;
    object-fit: cover !important;
    height: 650px;
  }
  .localizacao-imgs .filha {
    width: 35% !important;
    position: relative;
    right: 22px;
    object-fit: cover !important;
    height: 650px;
  }
  .localizacao-imgs .img-phone {
    position: relative !important;
    left: 0px !important;
    bottom: 20px !important;
    width: 30% !important;
  }
  :is(.pacote-basico, .pacote-premium) {
    width: 50% !important;
  }
  :is(.pacote-basico, .pacote-premium) img {
    width: 60%;
    object-fit: cover;
    padding-bottom: 25px;
  }
  :is(.pacote-basico, .pacote-premium) ul {
    width: 85% !important;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
  :is(.pacote-basico, .pacote-premium) ul li {
    font-size: 1.4rem !important;
    font-family: "Roboto", sans-serif;
  }
  .recomendado {
    width: 30% !important;
    right: auto;
    top: calc(740% - 14px) !important;
    left: calc(58% - 25px);
  }
  .recomendado h3 {
    left: 75px !important;
  }
}

/*# sourceMappingURL=Adquira.css.map */
