/* Error: Undefined variable.
 *    ,
 * 33 |   background-color: $color-purple;
 *    |                     ^^^^^^^^^^^^^
 *    '
 *   src\stylesheets\Usuario\senha\senha.scss 33:21  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 33 \2502    background-color: $color-purple;\d\a    \2502                      ^^^^^^^^^^^^^\a    \2575 \a   src\\stylesheets\\Usuario\\senha\\senha.scss 33:21  root stylesheet";
}
